.cart-suggestions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.cart-suggestions__title {
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-body-bold);
  color: var(--color-content-default);
}

.cart-suggestions__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
}
